[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
<% if (cli) { %>click = "*"
<% } %>
[dev-packages]
sphinx = "*"
<% if (cli) { %>sphinx-click = "*"
<% } %>
[requires]
python_version = "3.6"
